* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.box {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: blueviolet;
}

.head {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 20px;
}

.head h2 {
    /* padding: 20px; */
    display: flex;
    text-align: center;
    /* padding-top: 0px; */
    margin-bottom: 20px;
}

.head h2 img {
    width: 30px;
    margin-left: 10px;
    /* margin-bottom: 20px; */
}

.box .head .textt {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #ebedee;
    /* width: 50px; */
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    /* padding-bottom: 25px; */
}

.box .head .textt input {
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #ebedee;
    /* font-size: 20px; */
}

.box .head .textt button {
    border: none;
    border-radius: 30px;
    width: 100px;
    background-color: #f5563c;
    cursor: pointer;
    font-size: 20px;
    /* padding: 16px 50px; */
}

ul li {
    list-style: none;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(icons8-check-50.png);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: 8px;
}

ul li.check {
    color: #555;
    text-decoration: line-through;
}

ul li.check::before {
    background-image: url(orange-circle-48.png);
}

ul li span {
    position: absolute;
    right: 20px;
    color: #555;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 25px;
    top: 7px;
}

ul li span:hover {
    background: #edeef0;
}